{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Bienvenido | E-Mercato</title>
</head>
<body style="font-family: sans-serif; padding: 50px; text-align: center; max-width: 400px; margin: auto;">
    <img src="{% static 'store/images/logo_e-mercato.png' %}" alt="Logo E-Mercato" style="height: 200px; margin-bottom: 20px;">

    <h2>Eres nuevo aquí?</h2>
    <p>¡Crea una cuenta para comenzar a comprar en E-Mercato!</p>
    <a href="{% url 'register' %}" style="text-decoration: none; color: white; background-color: #28a745; padding: 5px 10px; border-radius: 3px;">Crear Cuenta</a>
    <br>
    <h2>¿Ya tienes una cuenta?</h2>
    <p>Inicia sesión para acceder a tu cuenta y continuar comprando en E-Mercato.</p>
    <a href="{% url 'login' %}" style="text-decoration: none; color: white; background-color: #007bff; padding: 5px 10px; border-radius: 3px;">Iniciar Sesión</a>
</body>
</html>